<html>
	<head>
		<title>Hypercent Container Demo</title>
	</head>
	<body>
		<h1>Welcome to the <%= companyName %> Container Demo</h1>
		<p>We will be discussing the following topics</p>
		<ul>
			<% for(var i=0; i < topics.length; i++){ %>
				<li><%= topics[i]%></li>
			<%}%>
		</ul>
	</body>
</html>